* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden
}

body {
    background-color: #8c66ff;
}

h1, #text-response, #quiz-que {
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    margin-top: 5vh;
}

/* instruction text */
#instructions {
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

/* container */
#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* game container */
#game {
    display: none;
    margin-top: 5vh;
    text-align: center;
}

/* score area */
.score-area {
    font-size: 1.2rem;
    color: #ece6ff;
    text-align: center;
}

.scores {
    text-align: left;
}

#num-counter {
    font-size: 1.4rem;
}

/* quiz box container */
.quiz-box {
    width: 800px;
    height: 80vh;
}

/* question */
.question-area {
    background-color: #8c66ff;
    height: 20vh;
}

/* answer options */
#answer-area {
    background-color: #8c66ff;
    overflow: visible;
}

/* button styling */
.btn {
    height: 12vh;
    width: 75%;
    position: relative;
    text-align: center;
    font-size: 20px;
    background-color: #531aff;
    color: #ffffff;
    scale: .9;
}

button:hover {
    scale: 1;
}

#tv-image {
    position: relative;
    left: 30px;
    top: 10px;
}

/* start game button*/
#start {
    width: 50%;
    position: relative;
    left: 25%;
}

/* answer response container */
#answer-response-cont {
    height: 100vh;
    overflow: hidden;
    display: none;
    position: relative;
}

/* text response */
#answer-text-cont {
    position: relative;
    top: 33.3%;
}

/* finish quiz button container */
#fin-quiz-cont {
    height: 100vh;
    display: none;
}

/* finish quiz button */
#fin-quiz {
    position: relative;
    top: 50vh;
    width: 30%;
    left: 35%;
    text-align: center;
}

/* media queries */

@media screen and (max-width: 800px){
    h1, #text-response, #quiz-que {
        font-size: 1.4rem;
    }
    .quiz-box {
        width: 100vw;
        margin: 0 5vw;
    }
    h1 {
        font-size: 1.2rem;
    }
    #instructions {
        font-size: 1rem;
    }
    .score-area {
        margin-top: 3vh;
    }
    .scores, #num-counter {
        font-size: .9rem;
        text-align: center;
    }
    .question-area {
        margin: 0 5vw;
    }
    #answer-text-cont {
    position: relative;
    top: 20%;
}
    .btn {
        width: 100%;
        left: 0%;
    }
    button:hover {
    scale: .9;
    }
    #start {
        width: 100%;
        left: 0%;
    }
    #fin-quiz {
        width: 100%;
        left: 0;
    }
    #quiz-que {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px){
    #quiz-que {
        font-size: 1.25rem;
    }
    #instructions {
        font-size: .8rem;
    }
}