* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #8c66ff;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    margin-top: 5vh;
}

/* container */
.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* quiz box container */
.quiz-box {
    width: 800px;
    height: 60vh;
}

/* question */
.question-area {
    background-color: #8c66ff;
    height: 15vh;
}

/* answer options */
#answer-area {
    background-color: blueviolet;
}

/* button styling */
.btn {
    height: 12vh;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #531aff;
    color: #ffffff;
}

button:hover {
    background-color: #794dff;
    scale: 1.1;
}

/* submit button*/
#submit {
    position: relative;
    height: 6vh;
    width: 50%;
    float: right;
    top: 50px;
}

/* game title */
.game-title {

}

/* score area */
.score-area {
    font-size: 1.2rem;
    color: #ece6ff;
}